#include <dt-bindings/zmk/matrix_transform.h>
// #include <dt-bindings/he/mouse_forwarder.h>
// #include <dt-bindings/he/gamepad_forwarder.h>
#include <dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>
#include <input/he_processors.dtsi>
#include <physical_layouts.dtsi>

&adc {
    statsu = "okay";

    adc_channel_0: adc_channel_0 {
        compatible = "zmk,adc-input";
        label = "ADC_CHANNEL_0";
        zephyr.code = <0>;
    };

    adc_channel_1: adc_channel_1 {
        compatible = "zmk,adc-input";
        label = "ADC_CHANNEL_1";
        zephyr.code = <1>;
    };

    adc_channel_2: adc_channel_2 {
        compatible = "zmk,adc-input";
        label = "ADC_CHANNEL_2";
        zephyr.code = <2>;
    };
};

&he_pass {
    kscan-passthrough-position = <2700>;
    keymap-size = <12>;
};
