#include <dt-bindings/zmk/matrix_transform.h>
// #include <dt-bindings/he/mouse_forwarder.h>
// #include <dt-bindings/he/gamepad_forwarder.h>
#include <input/he_processors.dtsi>
#include <physical_layouts.dtsi>

&adc {
    statsu = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephy,input-positive = <ADC_CH0>;
        zephyr,gain = "ADC_GAIN_1_2";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
        zephyr,resolution = <12>;
    };
    channel@1 {
        reg = <1>;
        zephy,input-positive = <ADC_CH1>;
        zephyr,gain = "ADC_GAIN_1_2";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
        zephyr,resolution = <12>;
    };
    channel@2 {
        reg = <2>;
        zephy,input-positive = <ADC_CH2>;
        zephyr,gain = "ADC_GAIN_1_2";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
        zephyr,resolution = <12>;
    };
    channel@3 {
        reg = <3>;
        zephy,input-positive = <ADC_CH3>;
        zephyr,gain = "ADC_GAIN_1_2";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
        zephyr,resolution = <12>;
    };
};