/*
* Copyright (c) 2025 Joomin97
*
* SPDX-License-Identifier: MIT
*/

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/input/input-event-codes.h>
#include <dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>

/ {
    chosen {
        // zmk,physical-layout = &physical_layout0;
        zmk,kscan = &kscan;
        zmk,matrix_transform = &default_transform;
    };

    // physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
    //     compatible = "zmk,physical-layout";
    //     display-name = "Default Layout";
    //     // kscan = <&kscan0>; // Label of the kscan node, optional if all layouts use the same
    //     // transform = <&default_transform>; // Label of the matrix transform for this layout
    // };

    kscan: kscan0 {
        compatible = "zmk,kscan-composite";
        wakeup-source;
        rows = <2>;
        columns = <8>;
        adc-direct {
            kscan = <&kscan_adc>;
            row-offset = <0>;
            col-offset = <0>;
        };
    };

    kscan_mux_adc: kscan-mux-adc {
        compatible = "he,kscan-multiplexer";
        resolution = <12>;
        address-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>, //S0 -> GP0
                <&gpio0 1 GPIO_ACTIVE_HIGH>, //S1 -> GP1
                <&gpio0 2 GPIO_ACTIVE_HIGH>, //S2 -> GP2
                <&gpio0 3 GPIO_ACTIVE_HIGH>; //S3 -> GP3

        address-to-read-delay = <5>;
        wait-period-idle = <5>;
        wait-period-press = <1>;
        kscan-forwarder = <&kscan_forwarder>;

        channel_one {
            io-channels = <&adc 0>;
            address-range-min = <1>;
            address-range-max = <16>;
        };

    };

    he_transform: he_transform {// mapping of he sensors before going to kscan-composite but with he,input-processor-matrix-offset applied
        compatible = "zmk,matrix-transform";
        status= "okay";
        columns = <8>;
        rows = <2>;
        // |  HE1  |  HE2  |  HE3  |  |  HE3  |  HE2  |  HE1  |
        // |  HE4  |  HE5  |  HE6  |  |  HE6  |  HE5  |  HE4  |
        map = <
            RC(0,0) RC(0,1) RC(0,2)    RC(0,5) RC(0,6) RC(0,7)
            RC(1,0) RC(1,1) RC(1,2)    RC(1,5) RC(1,6) RC(1,7)
        >;
    };

    he_keymap: he-keymap {
        compatible = "he,input-processor-keymap";
        status= "okay";
        #input-processor-cells = <1>;
        transform = <&he_transform>;
    };

    he_listener: he-listener {
        compatible = "he,input-listener";
        status = "okay";
        device = <&kscan_mux_adc>

        layer0 {
            layers = <0>;
            input-processors = <&he_keymap 0>;
        };
    };

};